.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: palegreen;
}

.containerAbout {
  padding: 3rem;
  outline: 1px solid pink;
}
