.container {
  border: 1px solid red;
  padding: 1rem;
  border-radius: 5px;
}

.ul {
  display: flex;
  gap: 1rem;
}

.ul li {
  position: relative;
}

.a {
  display: block;
  text-decoration: none;
  padding: 0.5rem;
}

.fondo {
  position: absolute;
  inset: 0;
  background-color: #666;
  border-radius: 10px;
  z-index: -1;
}
