.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid pink;
  padding: 3rem;
  gap: 2rem;
}

.pelota {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: hsl(50deg 100% 50%);
  background: oklch(0.9 0.25 100 / 1);
}

.btn {
  position: relative;
  z-index: 2;
  background: transparent;
  border-radius: 1px;
  padding: 8px 32px;
  border: none;
  outline: 2px solid hsl(50deg 0% 50% / 1);
  font-weight: bold;
  cursor: pointer;
  backdrop-filter: blur(10px);
  color: white;
}
