* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  display: grid;
  place-items: center;
  min-height: 100vh;
  color: whitesmoke;
}

a {
  color: yellow;
}

ul {
  list-style: none;
  padding: none;
}
