.titulo {
  color: red;
}

.about {
  display: flex;
  justify-content: center;
  color: chartreuse;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid pink;
  padding: 3rem;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #000;
  color: #fff;
  margin-top: 2rem;
}
